
*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: url(https://i.ibb.co/q7Xgb1T/background.jpg);
    height: 98vh;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: rgb(32, 32, 32);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 10px;
}
.botao{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: #363636;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    margin: 2px;

}
.botao:hover{
   background-color: #2c2c2c; 
}
.igual{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: #2cbcff;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    margin: 2px;

}
.igual:hover{
   background-color: rgb(3, 145, 211); 
}
#resultado{
    background-color: white;
    width: 205px;
    height: 30px;
    margin: 5px;
    font-size: 20px;
    color: black;
    text-align: right;
    border-radius: 4px;
    padding: 5px;
}

.copyright{
    font-size: 15px;
    color: rgb(0, 0, 0);
}
